<html lang= "en">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}

        {% block stylesheets %}

        {% endblock stylesheets %}

        <link rel="stylesheet" href="{% static 'data_display/base.css' %}">
        <title>Veep Database Search Home Page</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'data_display/all.css' %}">
    </head>

    <body>

    <div class="header">
        <ul class="headerItems">
            <a href="settings"><li class="page">Settings</li></a>
            <a href="database"><li class="page">Database</li></a>
            <a href=""><li class="page">Summaries</li></a>
            <a href=""><li class="page">Visualizations</li></a>
            <a href=""><li class="page">Import/Export</li></a>
        </ul>
    </div>


    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>


    <div class="footer">
        <div class="center-content">Developed & Maintained by the VEEP Database Team &nbsp | &nbsp 2019 ©</div>
    </div>

    </body>
</html>