{% extends "data_display/base.html" %}

{% block stylesheets %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'data_display/style_site.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="welcome-text">
    <h1 class="floater"><i class="fas fa-info-circle"></i></h1>
    <div>
        <h1><img id="image" src="/media/VEEP_logo.jpg" alt="veep logo" width="100">Welcome!</h1>
        <h2>This is the VEEP Database Search Engine</h2>
        <p> You can use this search engine to query through data that VEEP has stored to
        learn more about the club, projects, student demographics
        and other available data stored over the years.</p>
        <h3>Filtering the data using the Filter tool</h3>
        <p>When filtering the data enter your filter as 'category,value' where the category corresponds to the
        the category you want to filter by and the value is what you are filtering for. For example: 'project_name,VEEP Database Improvement' will filter by projects for the Data Display project </p>
    </div>
</div>
<div>
    <form action= {% url 'data_display' %} method="GET">
        {{ form }}
        <input type = "submit">
    </form>
</div>
<div>
    <table>
        <!-- Column headers -->
        <tr class="col-headers">
            {% for field_name in table_headers %}
                <td><a href="{{ request.path }}?sort_by={{ field_name }}{{ request_headers }}">
                    {{ field_name }}
                    {% if field_name == ui.asc %}
                        <i class="fas fa-caret-square-down"></i>
                    {% elif field_name == ui.desc %}
                        <i class="fas fa-caret-square-up"></i>
                    {% else %}
                        <i class="fas fa-caret-down"></i>
                    {% endif %}
                </a></td>
            {% endfor %}
        </tr>
        {% for datum in data %}
            <tr>
                {% for property in datum %}
                <td> {{ property }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="page-links">
            {% if data.has_previous %}
                <a href="?page=1"><span class="page-item"></span></a>
                {% for page in pages.left %}
                    <a href="?page={{ page }}"><span class="page-item">{{ page }}</span></a>
                {% endfor %}
            {% endif %}

            <span class="current">{{ data.number }}</span>

            {% if data.has_next %}
                {% for page in pages.right %}
                    <a href="?page={{ page }}"><span class="page-item">{{ page }}</span></a>
                {% endfor %}
                <a href="?page={{ data.paginator.num_pages }}"><span class="page-item">>></span></a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}
