{% extends "data_display/base.html" %}

{% block stylesheets %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'data_display/style_site.css' %}">
{% endblock stylesheets %}

{% block content %}
<div>
    <body>
        <h1>Welcome! </h1>
        <h2>This is the VEEP Database Search Engine</h2>
        <p> <br> You can use this search engine to query through data that VEEP has stored to
        learn more about the club, projects, student demographics
        and other available data stored over the years.</p>
        <h3>Filtering the data using the Filter tool</h3>
        <p>When filtering the data enter your filter as 'category,value' where the category corresponds to the
        the category you want to filter by and the value is what you are filtering for. For example: 'project_name,VEEP Database Improvement' will filter by projects for the Data Display project </p>
    </body>
</div>
<div>
    <form>
        <select class = "menu" id = "tables" name = 'tables'>
            <option value = "Students">Students</option>
            <option value = "Teams">Teams</option>
            <option value = "Projects">Projects</option>
            <option value = "Not For Profits">Not For Profits</option>
        </select>


        <input type = "text" placeholder= "Filter..." id = "filter" name = "filter" >
        <input type = "submit">
    </form>
</div>
<div>
    <table>
        <!-- Column headers -->
        <tr>
            {% for field_name in table_headers %}
                <td>{{ field_name }}</td>
            {% endfor %}
        </tr>
        {% for datum in data %}
            <tr>
                {% for property in datum %}
                <td> {{ property }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="page-links">
            {% if data.has_previous %}
                <span class="page-item"><a href="?page=1"><<</a></span>
                {% for page in pages.left %}
                    <span class="page-item"><a href="?page={{ page }}">{{ page }}</a></span>
                {% endfor %}
            {% endif %}

            <span class="current">{{ data.number }}</span>

            {% if data.has_next %}
                {% for page in pages.right %}
                    <span class="page-item"><a href="?page={{ page }}">{{ page }}</a></span>
                {% endfor %}
                <span class="page-item"><a href="?page={{ data.paginator.num_pages }}">>></a></span>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}
