{% extends "data_display/base.html" %}

{% block stylesheets %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'data_display/import_export.css' %}">
{% endblock stylesheets %}

<p>
    This is a preview of the data being imported. New rows that will be successfully imported are highlighted in green.
    Rows that will be deleted due to wrong data type or other issues are highlighted in red.
</p>

{# Some copy pasta from database display page, consider refactoring this later. #}
{% block content %}

    <h1>Existing Data (Left) vs. New Data (Right)</h1>
    <p>
        Displayed below is the last 50 records of the existing table versus the new set of data pulled from Google
        Sheets. Please refer to the User Guide (link to be updated) to see how records are pulled for different
        import types. If a column is missing, it means either the new column name did not match correctly
        to the original column name, or the column was missing altogether.
    </p>
    <p>
        Direct edits of the data will be possible in the future, so don't worry if the imported data isn't complete.
    </p>
    <span class="diff old">
        <table>
            <tr class="headers">
                {% for field_name in old_headers%}
                    <td>{{ field_name }}</td>
                {% endfor %}
            </tr>
            {% for datum in old_data %}
                <tr>
                    {% for property in datum %}
                    <td> {{ property }} </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </span>

    <span class="diff new">
        <table>
            <tr class="headers">
                {% for field_name in table_headers %}
                    <td>{{ field_name }}</td>
                {% endfor %}
            </tr>
            {% for datum in data %}
                <tr>
                    {% for property in datum %}
                    <td> {{ property }} </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </span>

    <div class="confirm">
        <form action='{% url 'import_export_preview' %}' method="POST">
        {% csrf_token %}
            {{ form }}
            <input type = "submit">
        </form>
    </div>
{% endblock %}