{% extends "data_display/base.html" %}

{% block stylesheets %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'data_display/style_site.css' %}">
{% endblock stylesheets %}

{% block content %}
{% load cust_tags %}
<div>
    <form action="/data_display/settings" method="GET">
        {{ form }}
        <input type="submit">
        {% if form|is_valid %}
            <p>Your settings have been configured. You can now visit other pages on the website.</p>
        {% endif %}
    </form>
</div>
{% endblock content %}