{% extends "data_display/base.html" %}

{% block stylesheets %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'data_display/summaries.css' %}">
<link rel="stylesheet" href="{% static 'data_display/style_site.css' %}">
{% endblock stylesheets %}

{% block content %}
<div>
    {{ kpi|safe }}
</div>
<div>
    <form action = '/data_display/summaries' method = "GET">
        {{ form }}
        <input type = "submit">
    </form>
<div>
    {{ summary|safe}}
</div>
{% endblock content %}