/* General Body stuff */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Header CSS */

.header {
    font-size: 1.75em;
    word-spacing: 1.5em;
    letter-spacing: .075em;
    box-sizing: border-box;
    margin: 0 20px;
}

.headerItems {
    padding: 0;
    margin: 0;
}

.headerItems .page {
    padding: 15px 10px 15px 10px;
}

.headerItems .page:first-child {
    padding-left: 0;
}

.headerItems a {
    border-bottom: 3px solid transparent;
}

body .headerItems a:hover {
    border-bottom: 3px solid purple;
    transition: 0.6s;
    color: gray;
}

.header a:visited {
    color: black;
}

ul a {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

/* Content CSS */

.content {
    padding: 20px;
}

/* Footer CSS */

.center-content {
    margin-top: 50px;
    text-align: center;
    color: #999999;
    letter-spacing: .1em;
    width: 100%;
    height: 100px;
    line-height: 100px;
}

/* Miscellaneous CSS */

body {
    padding: 10px;
}