.diff {
    display: inline-flex;
    padding: 10px;
}

.diff td {
    padding: 2 10px;
}

.floater {
    float: right;
    margin: 0;
}

.info-text {
    padding: 50px;
    background-color: #eeeeee;
    border-radius: 5px;
}

.info-text-title {
    margin: 0;
}

.io-form {
    padding: 50px;
}

.io-form input {
    border-radius: 10px;
}

.headers {
    background-color: pink;
    font-weight: bolder;
}

.old {
    background-color: #ebebeb;
}

.new {
    background-color: #a9ff91;
}