#image {
  top: 500px;
}

#header {
  background-color:rgb(114, 81, 138);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 3px solid rgb(114, 81, 138);
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgba(221, 221, 221, 0.692);
}

h1 {
  right: 50px;
  left: 50px;
  padding: 12px 20px;
  background-color: rgb(114, 81, 138);
  display: inline-block;
}

h2, p {
  right: 50px;
  left: 50px;
  padding: 12px 20px;
  display: inline-block
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 9px 0;
    display: inline-block;
    border: 1px solid rgb(114, 81, 138);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit] {
   width: 100%;
   background-color: rgb(114, 81, 138);
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }

input[type=submit]:hover {
  background-color: rgb(114, 81, 138);
 }

/* Pagination stuff down here */

.pagination {
    text-align: center;
    margin: 25px 10px 10px 10px;
    font-size: 1.25em;
}

.pagination .page-item {
    padding: 5px 15px;
    border-radius: 10px;
}

.pagination a {
    text-decoration: none;
    color: #222222;
}

.pagination .current {
    border-bottom: 1px solid purple;
    font-weight: bold;
    padding: 5px 15px;
}

.pagination .page-item:hover {
    background-color: #eeeeee;
}